
body {
    margin: 0;
    background-color: #262424;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  .container {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  }
  .sidebar {
    flex: 0 25%;
    background-color: #121417;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 250px;
    display: block;
    margin: 20px auto;
  }
  ul.nav li ul {display: none;}
  ul.nav li {list-style: none;}
  ul.nav li:hover > ul {display: block;} 
  /* ===================меню===============*/
  nav {margin: 10px auto;}
  /*==================блок меню==============*/
  ul{
    margin: 70px 0;
    padding: 0;
  }
  ul.nav li {
    background:#121417;
    border-bottom: 1px solid #404240;
    list-style: none;
    width: 100%; /*ширина блока меню*/
  }
  ul.nav li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #e3dad5;
    font-size: 18px;
    text-align: center;
  }
  ul.nav li ul {display: none;}	/*скрывает вложенные пункты*/
  /*===================Выпадающее меню==========================*/
  ul.nav li:hover {
    position: relative;
    background-color:#1b1d21;
  }
  ul.nav li:hover > ul {
    display: block;
    width: 300px
  }
  ul.nav li:active {
    position: relative;
    background-color:#1d1e1f;
  }
  ul.nav li:hover ul{
    position: absolute;
    width: 100%;
    top: -70px;       /*координаты для вложенных пунктов*/
    top: -30px; /*меню раскрывается вправо*/
  }
  /*спрайт начало*/
  .box {
    width: 100px;
    margin: 10px auto;
    margin-top: -10px;
    opacity: .5;
    display: flex;
  }
  a.figure {
    display: block;
    flex: 100%;
    width: 35px;
    height: 25px;
    background-image: url('../images/icons.png');
    background-size: 25px;
    background-repeat: no-repeat;
    float: left;
    position: relative;
  }
  .figure_fb {background-position: -3px -45px;}
  .figure_yt {background-position: -5px 5px;}
  .figure_ins {background-position: -3px -18px;}
  .figure_tg {background-position: -5px -67px;}
  a.figure:hover {opacity: .2;}
  /*===================спрайт конец===============================*/
  /*=======================Блок с шапкой и контентом(начало)=====================*/
  .container_content{
    flex: 0 75%;
    margin: 0;
    background-color: #e3dad5;
  }
  /*=======================Шапка(начало)=====================*/
  .head_image {width: 100%;}
  img.head_image {width: 100%;margin-bottom: -5px;}
  header {box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);}
  /*=======================Шапка(конец)=====================*/
  /*=======================Контент(начало)=====================*/
  h1 {
    text-align: center;
    font-size: 30px;
  }
  main {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 200px auto;
  }
  main p {
    color: black;
    text-align: center;
    font-size: 18px;
  }
  iframe {
    display: block;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
  .contact {
    display: flex;
  }
  h2, h3 {
    margin-left: 20px;
    color: #000;
  }
  .contacts {
    flex: 0 45%;
    margin: auto;
    box-shadow: 0 0 1px black;
  }
  /*=================форма(начало)================*/
  .form-container {
    flex: 0 45%;
    margin: 0 auto;
    box-shadow: 0px 0px 1px #000;
    margin-top: 20px;
    padding: 20px;
    color: #383434;
  }
  label {
    display: block;
    margin: 10px 0;
    text-align: left;
  }
  input {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    background-color: #fffcf2;
    color: #383434;
    font-size: 15px;
    padding-left:10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  input:focus {
    box-shadow: 0 0 6px black;
  }
  .submit {
    display: block;
    width: 50%;
    margin: 20px auto 0 auto;
    height: 40px;
    background-color: black;
    color: #fffcf2;
    font-weight: bold;
    padding-left: 0;
  }
  /*=================форма(конец)================*/
  /*=======================Контент(конец)=====================*/
/*=======================футер(начало)=====================*/
footer {
  position: fixed;
  bottom: 0;
  background-color: #262424;
  width: 100%;
}
address {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  color: #e3dad5;
  text-align: center;
}
address a{
  text-decoration: none;
  color: #e3dad5;
}
address a:hover{border-bottom: solid 1px #e3dad5}
address a:active{color:#916b69; border-bottom: none;}
/*=======================футер(конец)=====================*/
@media only screen and (max-width: 1200px)
{
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 0 1px black;
  }
.form-container {
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 0px 1px #000;
    margin-top: 20px;
    padding: 20px;
    color: #383434;
  }
}
@media only screen and (max-width: 768px)
{
  .container {
    flex-direction: column;
  }
  iframe {
    height: 200px;
  }
  .logo {
    display: none;
  }
  ul {
    margin: 0 0 -9px 0;
  }
  ul.nav li:hover ul{
    top: 40px; 
  }
}

